---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: ghcr.io/containeroo/certalert
    newTag: v0.0.28
resources:
  - certs.yaml
  - configmap.yaml
  - deployment.yaml
  - prometheusrule.yaml
  - secret.yaml
  - service.yaml
  - servicemonitor.yaml
patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: certalert
configMapGenerator:
  - name: crt-makr
    files:
      - crt-makr.sh
  - name: grafana-dashboard-certalert
    files:
      - grafana-dashboard-certalert.json
generatorOptions:
  disableNameSuffixHash: true
